<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aahk.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3017FD43AC97E8C657A5AEC196E2B66C9A800238</string>
				<key>dateExpires</key>
				<string>22/9/2024</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.11.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3017FD43AC97E8C657A5AEC196E2B66C9A800238</string>
						<key>dateExpires</key>
						<string>22/9/2024</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>ZJBW29NHP3</string>
						<key>name</key>
						<string>SOCAM Development Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.11.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>ZJBW29NHP3.org.reactjs.native.example.aahk</string>
				<key>com.apple.developer.team-identifier</key>
				<string>ZJBW29NHP3</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>aahk.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8a6b3141-03f7-475b-b92f-641563a75e6e</string>
				<key>dateExpires</key>
				<string>29/11/2023</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: org.reactjs.native.example.aahk</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>ZJBW29NHP3</string>
				<key>name</key>
				<string>SOCAM Development Limited</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
